@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Inter-roman.var.woff2) format("woff2");
}

body{
    margin:0;
    margin-left: 0;
    padding: 0; 
    box-sizing: border-box;
    color: white;
    background: linear-gradient(to right, #dd0100 34%, #fac901 33%, #225095 33%);;
    
   
}

h1{
  text-shadow: 2px 2px 2px black;

}


.driehoek {
position: absolute;
border-top:solid 200px #b9dcff;
border-right:solid 200px transparent;
border-bottom:solid 200px transparent;
border-left:solid 200px transparent;
margin-top: 170px;
margin-left: 750px;
z-index: 4;

}

.login{

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
margin-top: 30px;
}

.col{
  width: 900px;
  margin: 2%;
  border:2px solid black ;
  align-self: center;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(3, 3, 189);

}

.eventBox{
    z-index: 3;
    background-color: rgb(250, 201, 1);
    width: 2000px; 
    height: 900PX;
    position: relative;
    margin-top: -230px;
    text-align: center;
}




ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(172, 172, 172);
  }
  
  a.active:hover {
    background-color: rgb(172, 172, 172);
  }

.background1{

    background-color: #b9dcff;
    height: 400px;
}   
.background2{

  position:absolute;
  margin-top: -670px;
  z-index: 1;
  width: 1920px;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
hr {
  border:  4px solid black ;
  height: 10px;
  background-color: black;
}