.mySlides {
    display:none;
    position: static;
    max-height: 400px;
    object-fit: cover;
}  

body{
    background: linear-gradient(to right, #dd0100 50%, #225095 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "roboto";
}
ul{
  margin-left: 35%;

}
li{
  list-style: none;
  font-size: larger;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22vw, 1fr));
  grid-gap: 20px;
  background-color: #fac901;
  width: 80vw;
  justify-content: center;
  align-self: center;
  margin-left: 7vw;
  margin-right: 10vw;
}

#grid>div {
  font-size: 30px;
  padding: .5em;
  color: #ffffff;
  background: #1c87c9;
  text-align: center;
  
}
.card-body{
  block-size: max-content;
}

a{
  color: white;
  text-decoration: none;
}

.Login{
  margin-left: -70px;
}
p{
  font-size: large;
}

@media (min-width: 320px) and (max-width: 480px) {
  #grid { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width:481px) and (max-width:768px) 
{
  #grid { grid-template-columns: repeat(2, 1fr);}

}