@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(//fonts/FilsonPro-Bold.woff2) format("woff2");
}

hr{
  color: black;
}



.mySlides {
    display:none;
    position: static;
    max-height: 400px;
    object-fit: cover;
}  
.hyperlink{
  color: black;
}

body{
    background: linear-gradient(to right, #af0101 50%, #183a6d 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}
ul{
  margin-left: 2vw;

}
li{
  list-style: none;
  font-size: larger;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17vw, 1fr));
  grid-gap: 2vw;
  background-color: #fac901;
  width: 80vw;
  justify-content: center;
  align-self: center;
  margin-left:9vw;
  margin-right: 9vw;
  border: 3vw solid #fac901;
}

#grid>div {
  font-size: 30px;
  padding: .5em;
  color: #ffffff;
  background: #b9dcff;
  text-align: center;
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  vertical-align: text-bottom;
  
}

#grid>div:hover{
  transform: scale(1.08);
}



.card-body{
  block-size: max-content;
  
}
h1{
  color: black;
  font-size: xx-large;
}
h3{
  font-size: large;
  color:black
}

h5{
  color: rgb(122, 121, 121);
}


a{
  color: white;
  text-decoration: none;
}


.Login{
  margin-left: -70px;
}
p{
  font-size: large;
  color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  #grid { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width:481px) and (max-width:768px) 
{
  #grid { grid-template-columns: repeat(2, 1fr);}

}